<%= include('includes/top.tmpl') %>

    <div class="main">
    	<a href="<%= LIVE_LINK %>" target="_parent">
	        <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/shorthand_launcher.jpg" />

	        <div class="shorthand_launcher-core_container">
	            <div class="shorthand_launcher-core_content">
	                <h2><%= TITLE %></h2>
	                <div class="shorthand_launcher-button"><%= ENTER_BTN %></div>
	            </div>
	        </div>
	    </a>
    </div>

<%= include('includes/bottom.tmpl') %>